.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}

.my-dialog {
  position: absolute;
  width: 40vw;
  height: 60vh;
  top: 10vh;
  left: 30vw;
  z-index: 70%;
  background-color: #fff;
}
